<!DOCTYPE html>
{namespace bootstrap=TYPO3\Twitter\Bootstrap\ViewHelpers}
{namespace demo=Acme\DemoServer\ViewHelpers}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>SSO Demo Server</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<f:base/>
	<bootstrap:include version="2.1" includeJQuery="TRUE"/>
	<link href="{f:uri.resource(path: 'Stylesheets/styles.css')}" rel="stylesheet"/>
</head>

<body>

<f:render partial="Shared/Navigation" />

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Sidebar</li>
					<li class="active">
						<f:link.action action="index" controller="Standard">Home</f:link.action>
					</li>
					<li>
						<f:link.action action="index" controller="Sessions">Sessions</f:link.action>
					</li>
					<li>
						<f:link.action action="index" controller="Configuration">Configuration</f:link.action>
					</li>
				</ul>
			</div>
		</div>
		<div class="span9">
			<f:flashMessages/>

			<div class="hero-unit">
				<h1>Server</h1>

				<p>You arrived at the SSO demo server. It handles your primary session and
					acts as the SSO endpoint for all clients.</p>

				<p>
					<a href="{settings.demoInstanceUri}" class="btn btn-primary">Go to demo instance</a>
				</p>
			</div>
			<f:security.ifAuthenticated>
				<f:then>
					<demo:security.account as="account">
					<div id="login-status" class="alert alert-info alert-block">
						<h4 class="alert-heading">Logged in as: {account.accountIdentifier}</h4>

						<p>
							You are already authenticated, so an SSO client should get the authenticated
							account from the SSO server.
						</p>

						<p>
							<f:link.action controller="Login" action="index" class="btn">Login again</f:link.action>
						</p>
					</div>
					</demo:security.account>
				</f:then>
				<f:else>
					<div class="alert alert-info alert-block">
						<h4 class="alert-heading">Not authenticated</h4>

						<p>
							You are not yet authenticated, so an SSO client will ask
							you to log in on the server before proceeding.
						</p>

						<p>
							<f:link.action controller="Login" action="index" class="btn">Login now</f:link.action>
						</p>
					</div>
				</f:else>
			</f:security.ifAuthenticated>
			<div class="row-fluid">
				<div class="span4">
					<h2>SSO</h2>

					<p>A Single Sign On systems allows authentication between
						different websites.</p>
				</div>
				<div class="span4">
					<h2>Server</h2>

					<p>The SSO Server provides an authentication endpoint
						used by a SSO client with a SingleSignOnProvider for authentication.</p>
				</div>
				<div class="span4">
					<h2>Client</h2>

					<p>A SSO Client is any web application that uses the SingleSignOnProvider for authentication.
					</p>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<footer>
		<p>Flowpack.SingleSignOn</p>
	</footer>

</div>
</body>
</html>
